.page {
    width: 100%;
    height: 100%;
}
.invis {
    display: none;
}

#main #board {
     width: 75vmin;
     height: 75vmin;
}

#main .tile-base {
    box-sizing: border-box;
    float: left;
}

#main .tile {
    width: 100%;
    height: 100%;
    background-color: black;
}