html {
    background-image: url("img/cream_pixels.png"); /* subtlepatterns.com*/
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

body {
    margin: 0px;
    text-align: center;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
}
.invis {
    display: none;
}

.but {
    background-color: rgba(41,123,174,1);
    border-radius:8px;
    border:3px solid rgba(41,123,174,0.5);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 28pt;
    font-family: Open Sans;
    padding: 8px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

#start-screen
{
    text-align: center;
    font-size: 0pt /* needed for centering, don't ask */
    /* Stuff like this is why I hate CSS. */
}

#start-screen:before
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#start-screen #info-div
{
    background-color: rgba(255,255,255,1.0);
    border-radius: 3px;
    border: 1px solid rgba(41,123,174,1);
    padding: 30px;
    margin: -50px 30px 30px 30px;
    font-size: 18pt;
    color: rgba(27, 87, 124, 1);

    display: inline-block;
    vertical-align: middle;
 }

#start-screen #but-holder
{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

#start-screen #inspired
{
    font-size: 10pt;
    margin-top: 20px;
    color: rgb(115,115,115);
}

#main #board {
    width: 87vmin;
    height: 87vmin;
    min-width: 250px;
    min-height: 250px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 3vmin;
    border-radius: 2%;
    
    border: 0.5vmin solid rgba(0,0,0,0.10);
    background-color: rgba(210,210,210, 0.4);

    margin: auto;
    position: absolute;
    top: -33pt; left: 0; bottom: 0; right: 0;
 }

 #main .tile-base {
     box-sizing: border-box;
     float: left;
     position: relative;
 }

 #main .tile {
     position: absolute;

     width: 80%;
     height: 80%;
     top: 10%;
     left: 10%;

     border: 1px solid rgba(0,0,0,0.3);
     border-radius: 6%;
 }

 #main #info {
     width: 100%;
     font-size: 25pt;
     background-color: rgba(225, 225, 225, 0.63);
     color: rgba(41,123,174,1);
     position: absolute;
     bottom: 0;
     line-height: 33pt; /*Make sure to update top of #board*/
     text-align: center;
     border-top: 1.5px solid rgba(41,123,174,1);
     font-weight: 800;
     overflow: hidden;
 }

 #main #level {
     width: 48%; /*to do: figure this out*/
     display: inline-block;
     border-right: 1.5px solid rgba(41,123,174,1);
 }

 #main #time {
     width: 48%; /*to do: figure this out*/
     display: inline-block;
 }

 @media (min-width: 481px), (orientation: landscape) {
 /* Uncompress the board for larger screens */
     #main #board {
	 width: 72vmin;
	 height: 72vmin;
     }

     #main .tile {
	 width: 84%;
	 height: 84%;
	 top: 8%;
	 left: 8%;

	 border-width: 2px;
     }

     #main #info {
	 border-top-width: 2px;
     }

     #main #level {
	 border-right-width: 2px;
     }
}

 @media (min-width: 600px) {
     .but {
	font-size: 28pt;
	padding: 16px 45px;
    }
     
     #main #info {
	 font-size: 35pt;
	 line-height: 50pt; /* Update top of #board*/
     }

     #main #board {
	 top: -50pt;
     }
}

@media (min-width: 1200px) {
    .but {
	font-size: 35pt;
	padding: 18px 80px;
    }
    
    #main #info {
	font-size: 47pt;
	line-height: 60pt; /*update top of #board*/
    }

    #main #board {
	top: -60pt;
    }
}