html {
    background-image: url("img/cream_pixels.png"); /* subtlepatterns.com*/
    font-family: 'Nunito', sans-serif;
    height: 100%;
}

body {
    margin: 0px;
    text-align: center;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
}
.invis {
    display: none;
}

.but {
    background-color: rgba(41,123,174,1);
    border-radius:8px;
    border:3px solid rgba(41,123,174,0.5);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18pt;
    font-family: Open Sans;
    padding: 8px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

.smallbut {
    font-size: 18pt;
}

#start-screen, #end-screen
{
    text-align: center;
    font-size: 0pt /* needed for centering, don't ask */
/* Stuff like this is why I hate CSS. */
}

#start-screen:before, #end-screen:before
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#start-screen #info-div
{
    background-color: rgba(255,255,255,1.0);
    border-radius: 3px;
    border: 1px solid rgba(91,91,91,1);
    padding: 20px 30px 20px 30px;
    margin: 10px 30px 20px 30px;
    font-size: 16pt;
    color: rgba(91,91,91,1);
}

#end-screen #end-info-div
{
    background-color: rgba(255,255,255,1.0);
    border-radius: 3px;
    border: 1px solid rgba(41,123,174,1);
    padding: 20px 30px 20px 30px;
    margin: 10px 30px 20px 30px;
    font-size: 18pt;
    color: rgba(27, 87, 124, 1);
}

#end-screen #end-info-div
{
    padding: 10px 15px 10px 15px;
    margin: 5px 20px 18px 20px;
}

#start-screen #infhold
{
    display: inline-block;
    vertical-align: middle;
    margin-top: -30px;
}

#end-screen #end-infhold
{
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
}

#but-holder
{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

#inspired
{
    font-size: 10pt;
    margin-top: 20px;
    color: rgb(100,100,100) /* CHange the below*/
}

#inspired a
{
    color: rgba(41,123,174,0.5);
}

#start-screen #title-span
{
    font-size: 30pt;
    font-weight: 700;
    color: rgba(41,123,174,1);
}

#main #board {
    width: 87vmin;
    height: 87vmin;
    min-width: 250px;
    min-height: 250px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 3vmin;
    border-radius: 2%;

    border: 0.5vmin solid rgba(0,0,0,0.10);
    background-color: rgba(210,210,210, 0.4);

    margin: auto;
    position: absolute;
    top: -33pt; left: 0; bottom: 0; right: 0;
}

#main .tile-base {
    box-sizing: border-box;
    float: left;
    position: relative;
}

#main .tile {
    position: absolute;

    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6%;
}

#main #info {
    width: 100%;
    font-size: 25pt;
    background-color: rgba(225, 225, 225, 0.63);
    color: rgba(41,123,174,1);
    position: absolute;
    bottom: 0;
    line-height: 33pt; /*Make sure to update top of #board*/
    text-align: center;
    border-top: 1.5px solid rgba(41,123,174,1);
    font-weight: 800;
    overflow: hidden;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.32)
}

#main #level {
    width: 48%; /*to do: figure this out*/
    display: inline-block;
    border-right: 1.5px solid rgba(41,123,174,1);
}

#main #time {
    width: 48%; /*to do: figure this out*/
    display: inline-block;
}

#end-screen #level-span {
    font-size: 30pt;
}

#end-screen #end-info-div {
    font-size: 13pt;
    margin: 20px;
}

#end-screen a {
    color: rgb(171,171,171);
}

#end-screen #level-span {
    font-size: 40pt;
    font-weight: 700;
}

#end-screen #share-but {
    margin-top: 6px;
}

#end-screen #play-again-but
{
 margin-right: 0px;
}

#end-screen #strangebr
{
    display: inline;
}

@media (min-width: 481px), (orientation: landscape) {
    /* Uncompress the board for larger screens */
    #main #board {
	width: 72vmin;
	height: 72vmin;
    }

    #main .tile {
	width: 84%;
	height: 84%;
	top: 8%;
	left: 8%;

	border-width: 2px;
    }

    #main #info {
	border-top-width: 2px;
    }

    #main #level {
	border-right-width: 2px;
    }
}

@media (min-width: 600px) and (orientation: portrait), (min-width: 800px) and (orientation: landscape) {
    .but {
	font-size: 28pt;
	padding: 16px 45px;
    }

    .smallbut {
	font-size: 25pt;
    }

    #start-screen #title-span {
	font-size: 50pt;
	text-shadow: 0px 1px 1px black;
    }

    #start-screen #info-div {
	font-size: 25pt;
	padding: 25px 40px 25px 40px;
	margin: 10px 100px 25px 100px;
    }

    #end-screen #end-infhold {
	margin-top: -30px;
    }

    #inspired {
	font-size: 12pt;
    }
    
    #main #info {
	font-size: 35pt;
	line-height: 50pt; /* Update top of #board*/
    }

    #main #board {
	top: -50pt;
    }

    #end-screen #share-but {
	margin-top: 16px;
    }

    #end-screen #level-span {
	font-size: 42pt;
    }
    
    #end-screen #end-info-div {
	font-size: 19pt;
	padding: 20px 20px 20px 20px;
    }
}

@media (min-width: 1200px) {
    .but {
	font-size: 35pt;
	padding: 18px 80px;
    }

    .smallbut {
	font-size: 28pt;
	padding: 18px 50px;
    }

    #start-screen #info-div {
	font-size: 35pt;
	padding: 35px 50px 35px 50px;
	margin: 20px 160px 55px 160px;
    }

    
    #start-screen #title-span {
	font-size: 60pt;
	text-shadow: 0px 1px 1px black;
    }

    #inspired {
	font-size: 14pt;
    }
    
    
    #main #info {
	font-size: 47pt;
	line-height: 60pt; /*update top of #board*/
    }

    #main #board {
	top: -60pt;
    }

    #end-screen #share-but {
	margin-top: 20px;
    }

    #end-screen #level-span {
	font-size: 53pt;
    }
    
    #end-screen #end-info-div {
	font-size: 18pt;
	padding: 20px 20px 20px 20px;
     }
 }

 @media (orientation: landscape) {    
     #end-screen #play-again-but
     {
	 margin-right: 20px;
     }

     #end-screen #strangebr
     {
	 display: none;
     }
 } 
